############################
# Python
############################
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

venv/
.venv/
env/
ENV/

############################
# Environment
############################
.env
.env*
!.env.example

############################
# IDE
############################
.vscode/
.idea/

############################
# macOS
############################
.DS_Store

############################
# Logs
############################
*.log

############################
# Pytest
############################
.pytest_cache/

############################
# Next.js
############################
frontend/.next/
frontend/out/

############################
# Node
############################
frontend/node_modules/
node_modules/

############################
# Build
############################
dist/
build/

############################
# Cache
############################
.cache/

############################
# Analytics DB
############################
data/analytics.db

############################
# Chroma DB
############################
data/vector_db/

############################
# Coverage
############################
coverage/
/data/uploads/
